@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header style="text-align:center">
    <br />  
    <br />  
    <br />  
    <img  src="~/Images/image.png" style="width:50%; text-align:center" />
    <h1 style="text-align:center" class="text-danger">@ViewData["Title"]</h1>
    <p style="text-align:center" class="text-danger">You do not have access to this resource.</p>
</header>
