@model WebApplication8.ViewModels.FormaVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<h4>FormaVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="bmd-label-floating">City</label>
                <select asp-for="GradId" asp-items="Model.ListaGradova" class="form-control"> </select>
            </div>
            <div class="form-group">
                <label asp-for="Drzava" class="control-label"></label>
                <input name="DrzavaNaziv" asp-for="Drzava" class="form-control" />
                <span asp-validation-for="Drzava" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input name="AdresaNaziv" asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div id="root">
            </div>
            <input type="checkbox" id="checky"  /><span> Broj ulice</span>
            <div class="form-group">
                <input type="submit" checked="checked" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    $('#checky').click(function () {

        console.log(this);
        if ($(this).prop('checked') == true) {
            $.get("/Forma/GetPartialView",
                function (rezultat, status) {
                    $('#root').html(rezultat);
                });
        }
        else {
            $('#root').empty();
        }
    });
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>
