@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="form-group">
    <label  class="control-label">Broj ulice</label>
    <input name="NekiName" class="form-control" />
    <span  name="NekiName" class="text-danger"></span>
</div>