@model PetVM

@{
    ViewData["Title"] = "Index";
}
<style>

    body {
        background-color: #f1f1f1 !important;
    }
</style>
<h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Pets</h1>

@*<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Naziv</th>
                <th scope="col">Ukupno voljenih stvari</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pet in Model.Pets)
            {
            <tr>
                <td scope="row">
                        <img src="~/shiba.png" alt="Nema para nema stida" />
                </td>
                <td scope="row">@pet.Naziv</td>
                <td>@pet.BrojLikeStvari</td>
                <td><a class="btn btn-primary" asp-controller="LikeStvari" asp-action="Dodaj" asp-route-id="@pet.PetID"> Dodaj </a></td>
                <td><a class="btn btn-primary" asp-controller="LikeStvari" asp-action="Index" asp-route-id="@pet.PetID"> Prikaz </a></td>
            </tr>
            }
        </tbody>
    </table>*@

<section>
    <div class="container">
        @foreach (var item in Model.Pets)
        {
            <partial name="OnePetPV" model="item" />
           
        }

    </div>
</section>


<a class="btn btn-dark" asp-controller="Pet" asp-action="Dodaj"> Dodaj ljubimca </a>